[workspace]
members = [
    "programs/*",
    "libs/*"
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/divw-fun/divw"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
